<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let jg of juegoData">
            <div class="foodbox mt-3 mb-3">
                <img src="{{ jg.juegoImg }}" alt="">
                <h1>{{ jg.juego }}</h1>
                <p>{{ jg.juegoPrecio | currency: '€' }}</p>
                <br />
                <a class="buybtn" [routerLink]="['/juego',jg.id]">Mostrar información <i class="bi bi-bag"></i></a>
                <div class="tooltiptext">{{ jg.juegoInfo }}</div>
            </div>
        </div>
    </div>
</div>
