.foodbox {
    padding: 10px 10px;
}

.foodbox img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.foodbox h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.buybtn {
    color: #000;
    background-color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.foodbox {
    position: relative;
    padding: 10px;
}

.foodbox img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.foodbox h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.buybtn {
    color: #000;
    background-color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s; /* Efecto de transición */
}

.buybtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1; /* Muestra el tooltip al pasar el cursor */
}
