<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let fd of foodData">
            <div class="foodbox mt-3 mb-3">
                <img src="{{ fd.foodImg }}" alt="">
                <h1>{{ fd.foodName }}</h1>
                <p>{{ fd.foodPrice | currency: '€' }}</p>
                <br />
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Mostrar información  <i class="bi bi-search"></i>
                    <div class="tooltiptext">{{ fd.foodDetails }}</div>
                </a>
            </div>
        </div>
    </div>
</div>
