<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/pexels-photo-8111324.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/istockphoto-1076877918-1024x1024.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/monopoly512.logowik.com.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- steps -->
<div class="container mt-5 mb-5">
  <h1 class="text-center">Vuestros <span class="highlight">Juegos Favoritos</span></h1>
  <div class="row mt-5">
    <!-- one -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <img src="../../../assets/img/brass.jpg">
        <!-- <h1>1</h1>
                <p>select food</p> -->
      </div>
    </div>
    <!-- two -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <img src="../../../assets/img/cluedo.jpg">

        <!-- <h1>2</h1>
                <p>fil the details</p> -->
      </div>
    </div>
    <!-- three -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <img src="../../../assets/img/trivial.webp">

        <!-- <h1>3</h1>
                <p>your order delivered in minutes</p> -->
      </div>
    </div>
  </div>
</div>

<!-- foodbox -->
<div class="container mt-4 mb-4 ">
  <h1 class="text-center">Vuestra <span class="highlight">Comida Favorita</span></h1>
  <div class="row">
    <div class="col-lg-3 mt-3 " *ngFor="let fd of foodData; index as i">
      <div class="foodbox" *ngIf="i <=3">
        <img src="{{ fd.foodImg }}" alt="">
        <h1>{{ fd.foodName }}</h1>
      </div>
    </div>
  </div>
  <a routerLink="menu" class="view-more">Descubre nuestra carta <i class="bi bi-arrow-right"></i></a>
</div>
<div class="container mt-4 mb-4 ">
  <div class="row">
    <h1 class="text-center">Estamos <span class="highlight">aquí</span></h1>

    <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
      src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=C/%20Isabel%20de%20Villena,%201,%2046185%20La%20Pobla%20de%20Vallbona,%20Valencia%20Valencia+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      width="520" height="400" frameborder="0"></iframe>
    <script type='text/javascript'
      src='https://embedmaps.com/google-maps-authorization/script.js?id=0a91a0cf5ad08dbd828d6834a35c242d19046b82'></script>
  </div>

</div>