<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="juegoData">
            <a routerLink="../../juego" class="btn btn-sm btn-dark mb-3">Back</a>
            <img src="{{ juegoData[0].juegoImg }}" width="100%" alt="">
            <h1 class="mt-2">{{ juegoData[0].juego }}</h1>
            <p>{{ juegoData[0].juegoInfo }}</p>
            <p>{{ juegoData[0].juegoPrecio }}</p>
        </div>
        <div class="col-lg-6">
            <h1>Enter Your Details</h1>
            <form>
                <input type="text" class="form-control mb-2" placeholder="Enter Your Full Name">
                <input type="text" class="form-control mb-2" placeholder="Enter Your Mobile Number">
                <textarea class="form-control" placeholder="Enter Your Address"></textarea>
                <button class="btn btn-md btn-dark mt-3">Place Order</button>
            </form>
        </div>
    </div>
</div>
